html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
}